*{
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
}

.overline {
    text-decoration: overline;
}

tr:hover{
    background-color: grey;
}

table {
    border: solid black 1px;
}