*{
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
}

.overline {
    text-decoration: overline;
}


.operator {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: green;
    padding-left: auto;
    padding-right: auto;
}

.constant {
    text-align:center;
    display:inline-block;
    width:20px;
    height:20px;
    background-color: blue;
    border-radius: 50%;
}

#treeContainer {
    display: inline-block;
    justify-self: center;
}