*{
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
}

.overline {
    text-decoration: overline;
}

/* table, tr, td, th {
    margin:0px;
    padding:0px;
} */



.operator {
    background-color: green;
    padding-left: auto;
    padding-right: auto;
}

.constant {
    padding:5px;
    background-color: blue;
    border-radius: 100%;
}