:root {
    --major: #15BAEA;
    --minor: #154FEA;
    --accent: #15EAB0;
  }

*{
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
}

.overline {
    text-decoration: overline;
}

/* .collapsible {

} */