table, th, td {
    text-align: center;
}

#main_table {
    display: inline-block;
    justify-content: center;
}

table td+td {
    border-left: 2px solid black;
}
td {
    padding-left: 5px;
    padding-right: 5px;
}

th {
    border: solid black 2px;
}

table tr:nth-child(odd) td {
    background-color: lightgray;
}
